/* Main reusable homepage template background - Black screen area */
body {
    margin: 0 auto; /* Centers the body content horizontally */
    position: relative; /* Establishes a positioning context for absolutely positioned child elements */
    width: 100%; /* Sets the width of the body to 100% of the viewport width */
    height: 100%; /* Sets the height of the body to 100% of the viewport height */
    background: #000000; /* Sets the background color of the body to black */
    display: flex; /* Enables flexbox layout for the body */
    align-items: center; /* Vertically centers the body content */
    justify-content: center; /* Horizontally centers the body content */
    font-family: 'Inter', sans-serif; /* Sets the font family for the body content */
}

.homepage_title{
    font-weight: 800; /* Font weight for the button text */
    font-size: 35px; /* Font size for the button text */
    line-height: 42px; /* Line height for the button text */
    color: #ffffff; /* Button text color */

    text-align: center;
    
    position: absolute;
    top: 30px;


}

/* Main image */
.homepage_image {
    width: 388px;
    height: 680px;

    background-image: url("./images/homepage_image.png"); /* Location of the image */
    background-size: contain; /* stops image from being cut off */
    background-position: center; /* centers the image in the div */
    background-repeat: no-repeat; /* prevents the image from repeating if the div is larger than the image */

    transform: translateY(100px); /* Adjust the vertical position of the image */
}

/* Enter button */
.homepage_enter_button {
    position: absolute; /* Positions the button absolutely within its containing element */ 
    width: 196px; /* Sets the width of the button */
    height: 72px; /* Sets the height of the button */
    top: 750px; /* Sets the vertical position of the button */

    background: #000000; /* Button background color */
    border: 3px solid #FFFFFF; /* Button border color and thickness */
    border-radius: 20px; /* Rounded corners for the button */

    font-weight: 800; /* Font weight for the button text */
    font-size: 35px; /* Font size for the button text */
    line-height: 42px; /* Line height for the button text */
    color: #FFFFFF; /* Button text color */

    cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
}